
        @font-face {
            font-family: myFirstFont;
            src: url(../fonts/ARIAL.TTF);
        }

        body {
            font-family: myFirstFont;
        }

        .bg-i {
            background-image: url('../images/background.jpeg');
        }

        .select-box {
            position: relative;
            display: block;
            width: 100%;
            margin: 0 auto;
            color: #6d2800;
        }

        .select-box__current {
            position: relative;
            cursor: pointer;
            outline: none;
        }

        .select-box__current:focus+.select-box__list {
            opacity: 1;
            animation-name: none;
        }

        .select-box__current:focus+.select-box__list .select-box__option {
            cursor: pointer;
        }

        .select-box__current:focus .select-box__icon {
            transform: translateY(-50%) rotate(180deg);
        }

        .select-box__icon {
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
            width: 20px;
            opacity: 0.3;
            transition: 0.2s ease;
        }

        .select-box__value {
            display: flex;
        }

        .select-box__input {
            display: none;
        }

        .select-box__input:checked+.select-box__input-text {
            display: block;
        }

        .select-box__input-text {
            display: none;
            width: 100%;
            margin: 0;
            padding: 6px 24px;
            border-radius: 8px;
            background-color: #E78200;
        }

        .select-box__input-text:hover {
            background-color: #F8EAD3;
        }

        .select-box__input-text:active,
        .select-box__input-text:focus,
        .select-box__input-text:visited {
            background-color: #F8EAD3;
        }

        .select-box__list {
            position: absolute;
            width: 100%;
            padding: 0;
            list-style: none;
            opacity: 0;
            animation-name: HideList;
            animation-duration: 0.5s;
            animation-delay: 0.5s;
            animation-fill-mode: forwards;
            animation-timing-function: step-start;
            box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }

        .select-box__option {
            display: block;
            padding: 0px 24px;
            background-color: #E78200;
        }

        .optionfirst {
            border-radius: 8px 8px 0 0;
        }

        .optionlast {
            border-radius: 0 0 8px 8px;
        }

        .select-box__option:hover,
        .select-box__option:focus {

            color: #c6791c;
            background-color: #F8EAD3;
        }

        @keyframes HideList {
            from {
                transform: scaleY(1);
            }

            to {
                transform: scaleY(0);
            }
        }


        .clipPath-img{
            -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 16% 100%);
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 16% 100%);
        }